.content {
    display: unset;
}

.content article p {
    text-align: unset;
    hyphens: unset;
}

.content .post .post-meta .tags {
    margin-top: 0.1em;
}

.content .post .post-meta .tags .tag {
    background-color: unset;
    padding: unset;
}

body {
    font-size: 1.6em;
    line-height: 1.6em;
}

code {
    padding: 2px 4px;
    margin: 0px 2px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    background-color: #1b1f230d;
    font-size: 90%;
    white-space: nowrap;
}
pre > code {
    border: 0;
    white-space: pre;
}
.highlight > pre {
    border-radius: 0.5rem;
    border: 1px solid #bbbbbb;
}

.container.list {
    max-width: 95rem;
}
.list ul li {
    margin-bottom: 1rem;
}
.list ul li .date {
    font-size: 1.6rem;
    color: #828282;
}
.list ul li .title {
    font-size: 2.2rem;
    font-weight: unset;
}

a {
    font-weight: unset;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
.navigation a {
    text-decoration: none;
}
.tag a {
    text-decoration: none;
}
.footer a {
    text-decoration: none;
}
a.title {
    text-decoration: none;
}
